<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tapisdev.forumjualburung">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name="com.tapisdev.forumjualburung.activity.MaintenanceActivity"
            android:label="Under Maintenance"></activity>
        <activity
            android:name="com.tapisdev.forumjualburung.activity.pengguna.KonfirmasiPesanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tapisdev.forumjualburung.activity.pengguna.KeranjangActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tapisdev.forumjualburung.activity.pengguna.DetailPenyediaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tapisdev.forumjualburung.activity.pengguna.HomeUserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tapisdev.forumjualburung.activity.admin.DetailTendaActivity"
            android:label="Detail Tenda" />
        <activity
            android:name="com.tapisdev.forumjualburung.activity.admin.AddTendaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tapisdev.forumjualburung.activity.admin.DetailTokoActivity"
            android:label="Detail Catering" />
        <activity
            android:name="com.tapisdev.forumjualburung.activity.admin.EditProfilAdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tapisdev.forumjualburung.activity.admin.AddTokoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tapisdev.forumjualburung.activity.admin.DashboardAdminActivity"
            android:label="Dashboard Admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tapisdev.forumjualburung.activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tapisdev.forumjualburung.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tapisdev.forumjualburung.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>